#console{
    font-size: 40px;
    color: red;
    text-align: center;
}

.container {
    height: 300px;
    width: 300px;
    margin: auto;
    float: center;
    align-content: center;
}

.game {
    display: grid;
    height: 300px;
    width: 300px;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    background-color: #2196F3;
    padding: 10px;
}

.game>h {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
}

.game>h#x {
    font-size: 40px;
    color: #ed4e6e
}

.game>h#o {
    font-size: 40px;
    color: #485b6e;
}

button{
    text-align: center;
    display: contents;
    margin: auto;
}

#score{
    text-align: center;
    font-size: 30px;
    color: darkgreen;
}

.pnt {
    text-align: center;
    font-size: 30px;
}

#xpnt {
    color: red;
}

#opnt {
    color: blue;
}